.App {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-left: 100px;
}

html { 
  background: url('./images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
  border-collapse: collapse;
}

td {
  border-collapse: collapse;
  border: 1px solid #e4e7e7;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 14px;
}

.Cal-Wrapper {
  width: 600px;
}

thead > tr > td {
  border: unset; 
}

.First-Day-Of-Month {
  border-left: 3px solid #7DFAD2;
}

.Current-Day {
  color: #ffffff;
  background: #13C9B7;
}

.Delivery-Day {
  color: #ffffff;
  background:#F88789;
}